

.info{
    padding: 20px;
    text-align: center;
 
}

.alphabet{
    text-align: center;
    size: 50px;
    padding: 20%;
}

.numbers{
    background: #f21616;
    text-align: center;
    size: 50px;
    padding: 20%;
}


.words{
    text-align: center;
    size: 50px;
    padding: 20%;
}

.sentence{
    
    text-align: center;
    size: 50px;
    padding: 20%;
}